.orgs {
    margin: 20px auto; /* Adjust the top and bottom margin */
    width: 90%;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    gap: 20px; /* Add space between the .constrain divs */
    justify-content: space-between;
  }
  
  .org img {
    width: 90%; 
    border-radius: 10px;
    display: block;
    margin: 0 auto;
  }
  
  .org {
    flex-basis: 31%;
    position: relative;
  }
  
  .caption-2 {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 15, 152, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
  }
  
  .caption-2 img {
    width: 60px;
    margin-bottom: 10px;
  }
  
  .org:hover .caption-2 {
    opacity: 1;
    padding-top: 0;
  }
  
  .constrain {
    max-width: 350px; /* Adjust to your desired maximum width */
    margin: 0 auto;
  }
  
  .additional-info {
    margin-top: 20px; /* Adjust the margin to your liking */
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .additional-info h3 {
    font-size: 22px;
    color: blueviolet;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .additional-info p {
    font-size: 16px;
    color: #676767;
    margin: 0;
  }
  