.title{
    text-align: center;
    color: #E51937;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 120px 0 30px;
    padding-top: 20px;
}

.title h2{
    font-size: 32px;
    color: #380000;
    margin-top: 5px;
    text-transform: none;
}

@media (max-width: 840px) {
    .title {
        margin: 100px 0 30px;
        padding-top: 30px;
    }
    
    .title h2 {
        font-size: 28px;
    }
}

@media (max-width: 600px) {
    .title {
        margin: 90px 0 25px;
        padding-top: 20px;
    }
    
    .title h2 {
        font-size: 24px;
        line-height: 1.3;
    }
}