@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background: #ffffff;
}

a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.container-2 {
    padding-left: 0%;
    padding-right: 0%;
}

.btn{
    background: #FFF;
    color: #212121;
    padding: 12px 22px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.dark-btn{
    background: blueviolet;
    color: #ffffff;
}

.club-container {
    margin-top: 150px; 
  }
  
  @media (max-width: 800px) {
    .club-container {
      margin-top: 100px; 
      padding-left: 5%;
      padding-right: 5%;
    }
  }

@media (max-width: 1200px) {
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 800px) {
    .spacing{
        margin: 70px;
    }
}